#encabezado {
    background-color: white;
    border-color: white;
    height: 100%;
    padding-top: 2%;
    
}

.links-encabezado {
   color: black !important;
   font-size: 1.2em !important;
}

#seccion-taxi {
  background-image: url("../img/taxi-editado.jpg");
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px; 
}

#seccion-taxi > form > ul > li {
    list-style: none;
}

#fondo-form {
    background-color: #FFBF00;
    width: 100%;
    height: auto;
    margin-left: 60%;
    color: white; 
}

hr {
    width: 25%;
    display: inline-block;
    margin-top: 10%;
    border: 1px solid; 
}

.sin-borde {
    border-color: white !important; 
}

.espaciado-boton {
    margin: 20%;
}

#seccion-celular {
    background-color: #FFBF00;
    width: 100%;
    height: 600px;
}

#borde-iphone {
    border-color: white !important; 
    border-left-color: #FFBF00;
    border: 2px solid; 
    padding: 2%;
}

.iphone-centrado{
    display: flex;
    align-items: center;
}

.foto-iphone {
     margin-left: 13%;
}

#texto-iphone {
    color: white; 
    text-align: justify;
}

#texto-iphone > p {
    font-size: 1em; 
}

#seccion-conductor {
  background-image: url("../img/conduce.jpg");
  background-size: cover; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 800px; 
}

#seccion-conductor > form > ul > li {
    list-style: none;
}


#fondo-form-conduce {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    margin-left: 60%;
    color: white; 
}

#fondo-form-conduce > ul > li > p {
    font-size: 1.2em !important;
}

#boton-conduce {
   background-color: #FFBF00;
   border-color: #FFBF00;
}

#seccion-mapa {
    background-color: #FFBF00;
    width: 100%;
    height: 600px;
}